

#form__base
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 4rem;

  border-radius: 20px;
  max-width: calc(100% - 2px);
  width: calc(80vw + 180px);
  padding: 28px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#form__base::before
{
  content: "Сделать заказ:";
  display: block;
  width: 100%;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 2.4em;
}

#form__base label
{
  display: block;
}

#form__base .form_select
{
  background: #508c1e;
  min-width: 20vw;
  height: 50px;

  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 2;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;

  cursor: zoom-in;
}

#form__base .form_input
{
  min-width: 20vw;
  height: 50px;
  color: black;

  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 2;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}


#form__base .form_textarea
{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background: none;
  font-size: 1.3em;
  line-height: 1.6;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  resize: none;
  height: 350px;
}

#form__base .form_button
{
  cursor: pointer;
  text-decoration: underline rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  padding-right: 20px;

  height: 50px;
  color: black;

  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 2;
  border-radius: 5px;
  outline: none;
  border: none;
}


#form__base #level-confirm
{
  margin-right: 20vw;
}

#form__base #user-tag
{
  margin-right: 15vw;
}

#form__base #description
{
  width: 100%;
  margin-bottom: 7vh;
}

#form__base #description hr
{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
}

#form__base #bots-count
{
  margin-right: 5vw;
  min-width: 12vw;
}

#form__base #other
{
  margin-right: 15vw;
  min-width: 12vw;
}

#form__base #email
{
  width: 100%;
}

#form__base #email input
{
  min-width: 28vw;
}

#form__base #submit
{
  width: 100%;
}

#form__base #submit input
{
  margin-top: 30px;
  background: #d95421;
  color: white;
  text-decoration: underline rgba(255, 255, 255, 0.5);
  transition: box-shadow 100ms, border-radius 100ms, filter 200ms, background 200ms;
}

#form__base #submit input[disabled]
{
  filter: opacity(0.5) brightness(0.5);
  cursor: default;
  text-decoration: none;
  border-radius: 0;
}

#form__base #submit input.pending
{
  cursor: progress;
}

#form__base #submit input.success
{
  filter: opacity(0.5);
  background: #508c1e;
}

#form__base #submit input.error
{
  background: #c70606;
}

#form__base #submit input:not([disabled]):hover
{
  box-shadow: 3px 3px 30px 10px rgb(217, 150, 125, 0.2);
  border-radius: 15px;
  text-decoration: none;
}
